################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/docker_images/.vs/docker_images/v15/Server/sqlite3/db.lock
